/* In About.css */

.about-section {
    padding: 60px 10px;
    background-color: #000;
    color: #f0f0f0;
    text-align: center;
}

.about-title {
    font-size: 2.5em;
    margin: 30px;
    color: #ff5500;
}


.about-content-wrapper {
    /* 🛑 Centering and read-ability block 🛑 */
    max-width: 800px; /* Constrain width for better reading experience */
    margin: 0 auto; /* Center the wrapper block */
    text-align: left; /* Make the paragraph text left-aligned inside the wrapper */
    font-size: 1.5em;
}

.about-content-wrapper p {
    margin-bottom: 20px;
}

/* Mobile Adjustment */
@media (max-width: 600px) {
    .about-section {
        padding: 60px 10px;
    }
    .about-title {
        font-size: 1.8em;
    }
}
